.dashboard-wrapper{
    display: flex;
}

.sidebar-wrapper{
    width: 20%;
}

main{
    width: 80%;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
}

.nav-list li:not(:last-child){
    margin-right: 10px;
}

.sidebar-item-header{
    margin-bottom: 40px;
}

.sidebar-item-list li:not(:last-child){
    margin-bottom: 10px;
}

table{
    width: 100%;
}

table thead{
    text-align: left;
}

td img{
    width: 200px;
}

.products-header{
    display: flex;
    justify-content: space-between;
}

.form-group{
    margin-bottom: 20px;
}

.modal-header{
    display: flex;
    margin-bottom: 20px;
}

.modal-header h2{
    margin: 0 20px 0 0;
}